body {
    background-image: url('../images/pencils.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    position: relative;
    left: -10px;
    top: -25px;
    margin: 0;
    font-size: 24px;
    padding: 15px 0;
    color: #ffba00;
    font-weight: 800;
}

.weather-app {
    background-color: #6d9773;
    border: 1px solid #092048;
    border-radius: 10px;
    padding: 15px;
    margin: 30px auto;
    max-width: 750px;
   
    
}

h1 {
    color: white;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    color: white;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li::first-letter {
    text-transform: capitalize;

}

.search-form {
    margin-bottom: 20px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 100px;
    width: 100px;
    position: relative;
    top: -15px;
}

.weather-temperature strong {
    color: white;
    font-size: 48px;
    line-height: 1;
    font-weight: 400;

}

.weather-temperature .units {
    position: relative;
    font-size: 14px;
    top: -5px;
    left: -5px;
    color: white
}

.weather-temperature .active {
    color: white;
    cursor: default;
    text-decoration: none;
}

.weather-temperature .active:hover {
    text-decoration: none;
}


.additional-info {
    position: relative;
    left: 60px;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: white;

}

.forecast-day {
    font-size: 16px;
    opacity: 0.5;
}

.forecast-temp {
    font-size: 13px;
}

.forecast-temp-max {
    opacity: 0.7;
}

.forecast-temp-min {
    opacity: 0.5;
}

.footer {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
    font-size: 18px;
    color:#0c3b2e;
}